aiohappyeyeballs==2.4.4
aiohttp==3.11.11
aiosignal==1.3.2
async-timeout==5.0.1
attrs==24.3.0
certifi==2024.12.14
charset-normalizer==3.4.1
click==8.1.8
contourpy==1.3.1
cycler==0.12.1
docker-pycreds==0.4.0
fastmri==0.3.0
filelock==3.16.1
fonttools==4.55.3
frozenlist==1.5.0
fsspec==2024.12.0
fuser==1.0.4
gitdb==4.0.12
GitPython==3.1.44
h5py==3.12.1
idna==3.10
imageio==2.36.1
ipython==8.17.2
Jinja2==3.1.5
kiwisolver==1.4.8
lazy_loader==0.4
lightning-utilities==0.11.9
lpips==0.1.4
MarkupSafe==3.0.2
matplotlib==3.10.0
mpmath==1.3.0
multidict==6.1.0
networkx==3.4.2
numpy==2.2.2
nvidia-cublas-cu12==12.4.5.8
nvidia-cuda-cupti-cu12==12.4.127
nvidia-cuda-nvrtc-cu12==12.4.127
nvidia-cuda-runtime-cu12==12.4.127
nvidia-cudnn-cu12==9.1.0.70
nvidia-cufft-cu12==11.2.1.3
nvidia-curand-cu12==10.3.5.147
nvidia-cusolver-cu12==11.6.1.9
nvidia-cusparse-cu12==12.3.1.170
nvidia-nccl-cu12==2.21.5
nvidia-nvjitlink-cu12==12.4.127
nvidia-nvtx-cu12==12.4.127
opencv-python==4.11.0.86
pandas==2.2.2
pillow==10.4.0
piq==0.8.0
propcache==0.2.1
protobuf==5.29.3
pyparsing==3.2.1
pytorch-lightning==2.5.0.post0
pytorch-msssim==1.0.0
pytz==2024.2
PyWavelets==1.8.0
PyYAML==6.0.2
requests==2.32.3
runstats==2.0.0
scikit-image==0.25.0
scipy==1.15.1
seaborn==0.13.2
sentry-sdk==2.20.0
setproctitle==1.3.4
smmap==5.0.2
sympy==1.13.1
tifffile==2025.1.10
tinycudann @ git+https://github.com/NVlabs/tiny-cuda-nn/@1e384440a9426341b86b62fbb905dbb9d52ba6e5#subdirectory=bindings/torch
torch==2.5.1
torchmetrics==1.6.1
torchvision==0.20.1
tqdm==4.66.3
triton==3.1.0
tzdata==2024.2
urllib3==2.3.0
wandb==0.17.5
wcwidth==0.2.13
wget==3.2
yarl==1.18.3
